<h2>All Orders</h2><hr>

<div class="row">

    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let order of (ordersList$ | async)">
      <div class="card h-100">
        <img  routerLink="view-order/{{order.id}}" class="card-img-top" src="{{order.productImg}}" alt="" >
        <div class="card-body">
          <h4 class="card-title">
            <a >{{order.name}}</a>
          </h4>
          <h5>OrderNo:{{order.orderNo}}</h5>
          <p class="card-text">{{order.description | slice:0:40}}...</p>
          <p class="card-text">Quantity: {{order.quantity}}...</p>
        </div>
       
      </div>
    </div>
  </div>
  <!-- /.row -->
